<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>To Do List</h1>
    <h3><%= error %></h3>
    <form action="/create" method="POST" autocomplete="off">
      <input type="text" name="todo" required />
      <button type="submit">Add To Todo</button>
    </form>
    </ul>
  </body>
</html>
